<div style="display: flex; flex-direction: column; align-items: center; width: 100%;">
  <strong>Olá, {{ user }}</strong>
  <p>Houve um solicitação de troca de senha. Caso não tenha sido você, ignore este e-mail.</p>
  <p>
    <strong>Clique no link para trocar a senha: </strong> <a href="{{ url }}/forgot-password?email={{ email }}&token={{ token }}">Clique aqui!</a>
  </p>
</div>
