<div style="display: flex; flex-direction: column; width: 100%;">
  <strong>Olá, {{ user }}</strong>
  <p>Seja bem-vindo ao Petbuddy!</p>
  <p style="text-align: justify;">A partir de agora você poderá achar o pet que você tanto quis.</p>
</div>
{{> footer}}
